:root {
  --textcolor: white;
  --bcboody: #151B1F;
  --bcboody2: #304153;
  --colorfb: #1877F2;
  --colorIn: #0077B5;
  --bc-content-about: #93969E;
  --colorIs: radial-gradient(circle at 20% 10%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

* {
  margin: 0;
}

body {
  background-image: url(img/pexels-hasan-albari-1229861.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(2px);
}

.page-container {
  display: flex;
  flex-direction: column;
  border-style: 1px groove white;
  align-content: space-between;
  margin: 0;
  width: auto;
  

}

/* header */
header {
  display: flex;
  flex-wrap: wrap;
  color: var(--textcolor);

}

header h1,
h2 {
  text-align: center;
  font-family: 'Playfair Display', serif;

}

header img {
  box-shadow: inset 0 0 1em gold;
  border-radius: 5%;
  width: 25%;
  min-width: 250px;
  box-shadow: 0 0 1em gold;
}

/* logo icon */
.fa-js {
  color: #EFD81D;
}

.fa-git-square {
  color: #E84E31;
}

.fa-html5 {
  color: #DD4B25;
}

.fa-css3-alt {
  color: #1A6FB4;
}

.slider {
  display: flex;
  opacity: 1;
  width: 150px;
  height: auto;
  overflow: hidden;

}

.slider input {
  display: none;

}

aside .fab {
  margin: 10px;
  width: auto;
  transition: 2s;
  font-size: 150px;
}

/* Slider Manual */
.manual-nav {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-left: 30px;
}

.btn-manual {
  padding: 5px;
  cursor: pointer;
  transition: 1s;
  border-radius: 50%;
  border: 1px solid white
}

.btn-manual:not(:last-child) {
  margin-right: 10px;
}

.btn-manual:hover {
  background-color: white;
}

#radio1:checked~.fa-git-square {
  margin-left: 0;
}

#radio2:checked~.fa-git-square {
  margin-left: -88%;
}

#radio3:checked~.fa-git-square {
  margin-left: -177%;
}

#radio4:checked~.fa-git-square {
  margin-left: -266%;
}

/* auto slider */
.auto-nav {
  display: flex;
  position: absolute;
  justify-content: center;
  margin-left: 30px;

}

.auto-nav div {
  padding: 5px;
  transition: 1s;
  border-radius: 50%;
  border: 1px solid white
}

.auto-nav div:not(:last-child) {
  margin-right: 10px;
}

/* git */
#radio1:checked~.auto-nav .btn1-auto {
  background: #E84E31;
}

/* html */
#radio2:checked~.auto-nav .btn2-auto {
  background: #DD4B25;
}

/* css */
#radio3:checked~.auto-nav .btn3-auto {
  background: #1A6FB4;
}

/* js */
#radio4:checked~.auto-nav .btn4-auto {
  background: #EFD81D;
}


/* asddasdsd */
.AboutMe {
  opacity: 0.4;
  background-color: gray;
  box-shadow: 0 0 0.5em white;
  transition: 0.5s;
  width: 100%;
  order: 1;
  cursor: pointer;


}

.AboutMe:hover {
  transform: translateY(-3px);
  opacity: 1;
  box-shadow: 0 0 2em gray;
  border-radius: 5px 5px 5px 5px;
}
/* mein page */
.content-experience {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  order: 2;
  margin: 0;
}

.article-1,
.article-2 {
  transition: 0.5s;
  opacity: 0.1;
  padding: 10px;
  box-shadow: 0 0 0.5em white;
  width: 350px;
  height: 20vh;
  cursor: pointer;
}

.article-1:hover,
.article-2:hover {
  transform: translateY(-3px);
  opacity: 1;
  box-shadow: 0 0 2em gray;
  border-radius: 5px 5px 5px 5px;
  background-image: white;
  }

.article-1 {
  order: 1;
}

.article-2 {
   background-image: url(./img/1.jpg);
   opacity: 1;
   background-size: 150%;
   background-repeat: no-repeat;
   order: 2;
}
.article-2 table:hover{
  visibility: visible;
}
.article-2 table{
  visibility: hidden;
}
tr{
  width: 200px;

}

/* footer */
footer {
  margin-left: -25px;
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
  order: 3;
  min-width: 100%;
}

footer ul {
  display: flex;
}

footer li {
  padding: 20px;
  list-style: none;
}

footer .fab {
  color: white;
  font-size: 40px;
  transform: 0.2s;
}

.fa-facebook-square:hover {
  transform: translateY(-3px);
  color: var(--colorfb);
}

.fa-instagram:hover {
  transform: translateY(-3px);
  background: radial-gradient(circle at 20% 10%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-linkedin:hover {
  transform: translateY(-3px);
  color: var(--colorIn);
}