:root {
  --textcolor: white;
  --bcboody: #151B1F;
  --bcboody2: #304153;
  --colorfb: #1877F2;
  --colorIn: #0077B5;
  --bc-content-about: #93969E;
  --colorIs: radial-gradient(circle at 20% 10%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(img/pexels-hasan-albari-1229861.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(7px);
  background-color: black;
}

.page-container {
  display: flex;
  flex-direction: column;
  border-style: 1px groove white;
  /* align-content: center; */
  margin: 0;
  width: auto;
}

/* header */
header {
  display: flex;
  flex-flow: row wrap;
  border-bottom: 2px solid white;
  text-align: center;
  color: var(--textcolor);
  margin: 0px;
}

/* image header */
/* header img {
  order: 1;
  border-radius: 3%;
  border: 2px solid black;
  flex: 0.3;
  width: 25%;
  min-width: 300px;
  box-shadow: 0 0 1em black;
} */

header h1 {
  color: white;
  flex: 2;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  margin: 7rem 1.25rem 2.5rem 1.25rem;
  order: 2;
  word-spacing: 10px;
}

header p {
  order: 3;
}



/* slider icon */
.fa-js {
  color: #EFD81D;
}

.fa-git-square {
  color: #E84E31;
}

.fa-html5 {
  color: #DD4B25;
}

.fa-css3-alt {
  color: #1A6FB4;
}

.slider {
  display: flex;
  opacity: 1;
  order: 4;
  width: 150px;
  overflow: hidden;
}

.slider input {
  display: none;
}

aside .fab {
  margin: 15px;
  width: auto;
  transition: 2s;
  font-size: 150px;
}

/* Slider Manual */
.manual-nav {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-left: 30px;
}

.btn-manual {
  padding: 5px;
  cursor: pointer;
  transition: 1s;
  border-radius: 50%;
  border: 1px solid white
}

.btn-manual:not(:last-child) {
  margin-right: 10px;
}

.btn-manual:hover {
  background-color: white;
}

#radio1:checked~.fa-git-square {
  margin-left: 0;
}

#radio2:checked~.fa-git-square {
  margin-left: -97%;
}

#radio3:checked~.fa-git-square {
  margin-left: -195%;
}

#radio4:checked~.fa-git-square {
  margin-left: -295%;
}

/* auto slider */
.auto-nav {
  display: flex;
  position: absolute;
  justify-content: center;
  margin-left: 30px;

}

.auto-nav div {
  padding: 5px;
  transition: 1s;
  border-radius: 50%;
  border: 1px solid white
}

.auto-nav div:not(:last-child) {
  margin-right: 10px;
}

/* git */
#radio1:checked~.auto-nav .btn1-auto {
  background: #E84E31;
}

/* html */
#radio2:checked~.auto-nav .btn2-auto {
  background: #DD4B25;
}

/* css */
#radio3:checked~.auto-nav .btn3-auto {
  background: #1A6FB4;
}

/* js */
#radio4:checked~.auto-nav .btn4-auto {
  background: #EFD81D;
}


/* About page*/
.AboutMe {
  margin-top: 40px;
  margin: 50px;
  color: white;
  order: 1;
  cursor: pointer;
  font-size: 15px;
  font-family: 'Arial Narrow Bold', sans-serif;
  line-height: 30px;
  word-spacing: 15px;
  text-align: justify;
}
.AboutMe p{
  text-align: justify;

}

/* mein page */
.content-experience {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 40px;
  order: 2;
  width: 100%;
}

.article-1,
.article-2 {
  padding: 10px;
  box-shadow: 0 0 0.5em white;
  cursor: pointer;
  min-width: 30ch;
  min-height: 45ch;
  transition: 0.5s;
  font-size: 15px;
  color: white;
}

.article-1:hover,
.article-2:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 2em gray;
  border-radius: 5px 5px 5px 5px;
}

.article-1 {
  background-image: url(./img/marten-bjork-6dW3xyQvcYE-unsplas.png);
  background-repeat: no-repeat;
  background-size:120%;
  flex: 1 1 40%;

}

.article-2 {
  background-image: url(./img/1.jpg);
  background-size: 120%;
  background-repeat: no-repeat;
  flex: 1 1 40%;
  height: 100%;
  line-height: 25px;
}




/* footer */
footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  order: 4;
  width: 100%;
  height: auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

footer li {
  margin-right: 40px;
  padding: 10px;
  list-style: none;
}

footer .fab {
  color: white;
  font-size: 40px;
  transform: 0.2s;
}

.fa-facebook-square:hover {
  transform: translateY(-3px);
  color: var(--colorfb);
}

.fa-instagram:hover {
  transform: translateY(-3px);
  background: radial-gradient(circle at 20% 10%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-linkedin:hover {
  transform: translateY(-3px);
  color: var(--colorIn);
}

.fa-github:hover {
  transform: translateY(-3px);
  color: black;
}

/* form contact */
.contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 15px;
  order: 3;
  gap: 20px;

}

#name,
#email {
  font-size: 15px;
  width: 250px;
  height: 20px;
  padding-left: 5px;
}

#mText {
  font-size: 15px;
  resize: none;
  padding-left: 5px;
  width: 250px;
  height: 100px;
  text-decoration: none;
}

#submit-btn {
  width: 150px;
  height: 20px;
  text-align: center;
}